@import url(https://it.allfont.net/allfont.css?fonts=courier-new);

/* Variables */
:root {
    /* light theme */
    --color-light: #fdfdfd;
    --color-lightish: #e9e9e9;
    --color-dark: #707070;
}

/* Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', arial;
    background-color: var(--color-light);
    webkit-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;	
}


a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width: 1500px) {
    .container {
        padding: 0 20px;
    }
}

/* Header */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* switch */
.switch-wrapper {
    display: flex;
}

#switch-container {
    width: 45px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid var(--color-dark);
    border-radius: 9999px;
    position: relative;
}

#switch-container:hover {
    cursor: pointer;
}

.switch-circle {
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-dark);
    border-radius: 9999px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    transition: 0.2s left ease-out;
}

/* navbar */
nav {
    height: 100%;
    display: flex;
    align-items: center;
}

ul.links {
    list-style-type: none;
    display: flex;
    height: 100%;
}

ul.links li{
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

ul.links li > span {
    padding: 0 25px;
    border-right: 1px solid var(--color-dark);
    display: inline-block;
}

ul.links li#link-contact {
    position: relative;
}

#contact-modal {
    position: absolute;
    padding: 20px 30px;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    top: 80%;
    left: -25%;
    z-index: 9999;
    background-color: var(--color-light);
    cursor: initial;
}

#contact-modal .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul.links li.active span{
    position: relative;
}

ul.links li.active span:before{
    content: "";
    background-color: var(--color-dark);
    bottom: 0;
    left: 25px;
    position: absolute;
    height: 1px;
    /* border-bottom: 1px solid var(--color-dark); */
}

ul.links li#link-about.active span:before{ width: 4.80em; }
ul.links li#link-doing-now.active span:before{ width: 9.70em; }
ul.links li#link-done.active span:before{ width: 7.8em; }

ul.links li:hover {
    cursor: pointer;
}

ul.links li:last-child > span {
    border-right: none;
}

/* current time */
.blink {
    animation: blink-animation 6s steps(11, start) infinite;
    -webkit-animation: blink-animation 6s steps(11, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

/* show main-content */
#about { display: none; }
#doing-now { display: none; }
#done { display: none; }
#contact-modal { display: none; }

#about.active { display: flex; }
#doing-now.active { display: block; }
#done.active { display: block; }

div.active { display: block !important; }

#link-contact:hover #contact-modal {
    display: block !important;
}


/* Main */
main {
    width: 100%;
    height: calc(100vh - 90px); /* 60px header - 30px footer*/
}

/* container doing e done*/
#doing-now .wrapper, #done .wrapper {
    display: flex;
    align-items: flex-start;
}

/* About */
#about {
    height: 85%;
    justify-content: center;
}

#about .about-img {
    position: relative;
}

#about .about-img img.real {
    display: none;
}

#about .about-img img.stickman {
    display: block;
}

#about .about-img:hover img.real {
    display: block;
}

#about .about-img:hover img.stickman {
    display: none;
}

#about .about-img img {
    width: 280px;
}

#about .about-img .caption {
    position: absolute;
    bottom: -45px;
    font-size: 13px;
}

#about .about-img .caption > small {
    display: block;
}

#about .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-text {
    padding-left: 60px;
}

.about-text ul {
    list-style-type: none;
}

.about-text ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 8px;
}

.about-text ul li::before {
    content: "-";
    position: absolute;
    left: 0;
}

.about-text ul li:last-child {
    position: relative;
    max-width: fit-content;
}

.about-text ul li:last-child > span {
    border-bottom: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.about-text ul li:last-child > span:hover {
    cursor: pointer;
}

.about-text ul li:last-child:hover .modal-dog {
    display: block;
}

.modal-dog {
    position: absolute;
    top: 30px;
    display: none;
}


/*Doing Now*/
#doing-now {
    height: 85%;
    justify-content: center;
}

#doing-now .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#doing-now .title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

#doing-now .row .left {
    padding-right: 80px;
}

#doing-now .right .tag {
    display: block;
    margin-bottom: 5px;
}

#doing-now .row > div ul {
    list-style-type: none;
}

#doing-now .row > div ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 8px;
}

#doing-now .row > div ul li::before {
    content: "-";
    position: absolute;
    left: 0;
}

#doing-now .spacer {
    display: block;
    height: 20px;
}

/*Doing Now*/
#done {
    height: 85%;
    justify-content: center;
}

#done .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#done .title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

#done .row .left {
    padding-right: 80px;
}

#done .right .tag {
    display: block;
    margin-bottom: 5px;
}

#done .row > div ul {
    list-style-type: none;
}

#done .row > div ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 8px;
}

#done .row > div ul li::before {
    content: "-";
    position: absolute;
    left: 0;
}

#done .spacer {
    display: block;
    height: 20px;
}

/* Footer */
footer {
    height: 30px;
    width: 100%;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


