/* @import url(https://it.allfont.net/allfont.css?fonts=courier-new); */

/* Variables */
:root {
    /* light theme */
    --color-light: #fdfdfd;
    --color-lightish: #e9e9e9;
    --color-dark: #707070;
    --color-darker: #000000;
}

/* Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', arial;
    background-color: var(--color-light);
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.no-select { user-select: none; }

::selection {
    background-color: #fc6767;
    color: #fff;
}


/* scrollbar style */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(161, 161, 161);
	border-radius: 10px;
}


a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.container.settle {
    overflow: visible;
}

@media screen and (max-width: 1500px) {
    .container {
        padding: 0 20px;
    }
}

/* Header */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-out;
    transform: translateY(-100%);
}

.loaded header {
    transform: none;
}

/* switch */
.switch-wrapper {
    display: flex;
}

#switch-container {
    width: 45px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid var(--color-darker);
    border-radius: 9999px;
    position: relative;
}

#switch-container:hover {
    cursor: pointer;
}

.switch-circle {
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-darker);
    border-radius: 9999px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    transition: 0.2s left ease-out;
}

.switch-label:hover {
    animation: star-winkle 0.6s;
    cursor: pointer;
}

/* navbar */
nav {
    height: 100%;
    display: flex;
    align-items: center;
}

ul.links {
    list-style-type: none;
    display: flex;
    height: 100%;
}

ul.links li{
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

ul.links li > span {
    padding: 0 25px;
    border-right: 1px solid var(--color-dark);
    display: inline-block;
}

ul.links li#link-contact {
    position: relative;
}

#contact-modal {
    position: absolute;
    padding: 20px 30px;
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    top: 80%;
    left: -25%;
    z-index: 100;
    background-color: var(--color-light);
    cursor: initial;
}

#contact-modal .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul.links li span{
    position: relative;
}
/* 
/* DA VALUTARE ul.links li.active{
    color: #fc6767;
    valuta di metterlo anche per i link
} */
ul.links li span::before{
    content: "";
    /* DA VALUTARE background-color: #fc6767; */
    background-color: var(--color-dark);
    /* DA VALUTARE bottom: -2px; */
    bottom: 0;
    left: 25px;
    position: absolute;
    /* DA VALUTARE height: 2px; */
    height: 1px;
    width: 0;
    transition: width .5s ease-out;
}

ul.links li#link-about.active span:before{ width: 4.80em; }
ul.links li#link-doing-now.active span:before{ width: 9.70em; }
ul.links li#link-done.active span:before{ width: 7.8em; } */

ul.links li:hover {
    cursor: pointer;
}

ul.links li#link-contact:hover {
    cursor: pointer;
}

ul.links li:last-child > span {
    border-right: none;
}

/* current time */
.time-emoji {
    padding-right: 5px;
}

.time-emoji:hover {
    animation: star-winkle 0.6s;
    cursor: pointer;
}

#contact-modal { opacity: 0; pointer-events: none; transition: all 0.1s ease-out;}

#link-contact:hover #contact-modal {
    opacity: 1;
    pointer-events: all;
}


/* Main */
main {
    width: 100%;
    height: calc(100vh - 100px); /* 60px header - 40px footer*/
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0;
}

@media screen and (max-width: 700px) {
    main {
        min-height: calc(100vh - 150px);
        height: auto;
        align-items: center;
    }
    .footer-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-height: 720px) {
    main {
        min-height: calc(100vh - 150px);
        height: auto;
        align-items: center;
    }
    .footer-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-height: 800px) {
    main {
        padding-top: 60px;
    }
}

/* pics-wrapper */
#pics-wrapper {
    justify-content: center;
    overflow-y: auto;
}

#pics-wrapper .row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#pics-wrapper .pic-card {
    width: calc((100% / 3) - 20px);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}


@media screen and (max-width: 1080px) {
    #pics-wrapper .pic-card {
        width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 768px) {
    #pics-wrapper .pic-card {
        width: calc(100% - 20px);
    }
}


#pics-wrapper .pic-card img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 820px) {
    #pics-wrapper {
        padding: 0;
    }
    #pics-wrapper .about-img {
        display: none;
    }

    #pics-wrapper .about-text ul li{
        line-height: 25px;
    }

    #pics-wrapper .about-text{
        padding-left: 20px;
    }
}

@media screen and (max-width: 390px) {
    #pics-wrapper .about-img {
        display: none;
    }

    #pics-wrapper .about-text ul li{
        line-height: 25px;
    }

    #pics-wrapper .about-text{
        padding-left: 10px;
    }

    #pics-wrapper .about-text{
        margin-top: 15px;
    }
}

@media screen and (max-height: 700px) {
    #pics-wrapper .about-text{
        margin-top: 25px;
    }
}

/* Footer */
footer {
    height: 40px;
    width: 100%;
    transition: transform 0.5s ease-out;
    transform: translateY(100%);
}

.loaded footer {
    transform: none;
}

/* responsive */
@media screen and (max-width: 650px) {
    .switch-label {
        display: none;
    }
}


/* animations */

#pics-wrapper {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-20%);
    opacity: 0;
}

.loaded #pics-wrapper {
    transform: none;
    opacity: 1;
}


.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


@keyframes star-winkle {
    20% {
        transform: rotate(-6deg);
    }
    55% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0);
    }
  }